table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

.button-group {
  display: flex;
  margin-top: 10px;
}
.button-group a, .button-group button {
  margin-right: 10px;
}
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Sayfanın tamamını kaplar */
}
.button-group {
  margin-top: 10px;
}
.button-group a, .button-group button {
  margin-right: 10px;
}